@import "ngx-toastr/toastr";

:root {
  --shadow-2: 0 16px 30px hsla(0, 0%, 0%, 0.25);
  --border-gradient-onyx: linear-gradient(
    to bottom right,
    hsl(0, 0%, 25%) 0%,
    hsla(0, 0%, 25%, 0) 50%
  );
}

html,
body {
  height: 100%;
  color: #000000 !important;
}

body {
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #434343,
    #000000
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #434343,
    #000000
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

small,
input,
textarea {
  font-size: 14px !important;
}

.mat-elevation-z8 {
  overflow-x: auto;
}

.non-resizable-textarea {
  resize: none;
}

.no-select {
  pointer-events: none;
  user-select: none;
}
